{% extends "layout.html" %}
{% block body %}

  <div>
      <form action="create_class_form" method="POST">
        <div class="form-group">
            <label for="class name here">Class Name:</label>
            <input type="text" class="form-control" id="className"  placeholder="className" name="className" required>
        </div>
        <div class="form-group">
            <label for="class code here">Class Code:</label>
            <input type="text" class="form-control" id="classCode"  placeholder="classCode" name="classCode" required>
        </div>
        <div class="form-group">
            <label for="section here">Class Section:</label>
            <input type="text" class="form-control" id="Section"  placeholder="Section" name="Section">
        </div>
        <div class="form-group">
            <label for="semester here">Class Semester:</label>
            <input type="text" class="form-control" id="Semester"  placeholder="Semester" name="Semester">
        </div>
        <div class="form-group">
            <label for="teacher here">Class Teacher:</label>
            <input type="text" class="form-control" id="Teacher"  placeholder="Teacher" name="Teacher">
        </div>
          <button type="submit" class="btn btn-primary">Create</button>
      </form>
  </div>

{% endblock %}