<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/custome-style.css') }}">
    </head>

    <main>
        <h2 style = "margin: 0px; background-color: #e9e9e9; padding: 10px;">SSU Video Sharing</h2>
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a class="" href="/login">Login</a>
            <a class="" href="/register">Register</a>
            <a class="" href="/create_school">Create School</a>
            <form action = "http://localhost:5000/search_school_form" method = "POST">
                <input type="text" id="searchContent" placeholder="Search for a school..." name = "searchContent" required>
                <button type = "submit">
                    Search
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
        {% block body %}
        {% endblock %}
    </main>
    <footer class="footer"> <center>Welcome to VidUni 2022</center> </footer>
</html>