{% extends "layout.html" %}
{% block body %}
<!--Duplicate of the register.html for future purposes-->
<div class="topnav">
    <a class="active" href="/">Home</a>
    {% for c in classes %}
        <a class="" href="{{ url_for(c) }}">{{ c }}</a>
    {% endfor %}
  </div>
  <div>
      <form action="login_form" method="POST">
        <div class="form-group">
            {% if username_error %}
            <div class="alert alert-danger" role="alert">
                That user does not exist.
            </div>
            {% endif %}
            <label for="name here">Username:</label>
            <input type="text" class="form-control" id="userName"  placeholder="name" name="name" required>
        </div>
        <div class="form-group">
            {% if password_error %}
            <div class="alert alert-danger" role="alert">
                The password is incorrect.
            </div>
            {% endif %}
            <label for="password here">Password:</label>
            <input type="password" class="form-control" id="userPassword"  placeholder="password" name="password" required>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

{% endblock %}