{% extends "layout.html" %}
{% block body %}

<div class="topnav">
    <a class="active" href="/">Home</a>
    {% for c in classes %}
        <a class="" href="{{ url_for(c) }}">{{ c }}</a>
    {% endfor %}
  </div>
  <div>
    <!--Moved from initial position in index.html-->
    <!--Problem was both, it was two forms instead of one form and the name parameter was the same for both inputs -->
      <form action="register_form" method="POST">
        <div class="form-group">
          <!--There's probably a way to make this into a template so login.html can extend this part but it'll probably
          just have to end up being duplicated-->
          {% if username_error %}
          <div class="alert alert-danger" role="alert">
              That username is already taken.
          </div>
          {% endif %}
            <label for="name here">Username:</label>
            <input type="text" class="form-control" id="userName"  placeholder="name" name="name" required>
          </div>
        <div class="form-group">
          {% if password_error %}
          <div class="alert alert-danger" role="alert">
            Your password must be at least 8 characters long, include 1 number, 4 unique characters, and must not contain your username.
          </div>
          {% endif %}
            <label for="password here">Password:</label>
            <input type="password" class="form-control" id="userPassword"  placeholder="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

{% endblock %}