{% extends "layout.html" %}
{% block body %}
<div style = "display: flex; flex-direction: row;">
    <div>
        <h1>{{ school.SchoolName }}</h1>
        <h1>Located at {{ school.City }}, {{ school.SchoolState }}</h1>
        
        <form action="/join_school_form" method = "POST">
            <input type = "hidden" id = "schoolId" name = "schoolId" value = "{{ school.SchoolId }}"></input>
            <button type="submit" class = "btn btn-primary">Register +</button>
        </form>    
    </div>
    <div>
        <h1>Hello</h1>
        {% for c in classes %}
            <p>{{c.ClassName}}</p>
        {% endfor %}
    </div>    
</div>


{% endblock %}