{% extends "layout.html" %}
{% block body %}


<h1>{{video.Subject}} ID {{video.VideoId}}</h1>

<video controls>
    <source type="video/mp4" src="data:video/mp4;base64,{{video.Content}}">
</video>

<h1>Uploaded by {{video.UploaderId}} at {{video.CreateDate}}</h1>
<h1>Class {{video.ClassId}}</h1>

<p>{{video.Description}}</p>

<form action = "/publish_comment_form" method = "POST">
    <input type="text" id="commentContent" placeholder="Type comment here..." name = "commentContent" required>
    <input type = "hidden" id = "VideoId" name = "VideoId" value = "{{ video.VideoId }}"></input>
    <button type = "submit">
        Type Comment
    </button>
</form>

<h1>Comments</h1>
{% for c in comments %}
    <p>{{c.Username}} {{c.Content}}</p>
{% endfor %}

{% endblock %}