{% extends "layout.html" %}
{% block body %}

<div class="topnav">
    <a class="active" href="#home">Home</a>
    {% for c in classes %}
        <a class="" href="{{ url_for(c) }}">{{ c }}</a>
    {% endfor %}
  </div>
  <div>
    <!--Moved from initial position in index.html-->
    <!--Problem was both, it was two forms instead of one form and the name parameter was the same for both inputs -->
      <form action="test_form" method="POST">
        <div class="form-group">
            <label for="name here">Username:</label>
            <input type="text" class="form-control" id="userName"  placeholder="name" name="name" required>
          </div>
        <div class="form-group">
            <label for="password here">Password:</label>
            <input type="password" class="form-control" id="userPassword"  placeholder="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div>

{% endblock %}